In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/features.csv', encoding='utf-8')

In [3]:
df.head()

,ID,JobNum,SchedDays,ActualDays,Company,OpCount,EstProdHours,EstSetHours,DaysOut,EstUnitCost,SubContract
0,0,70398,26,45,HEM,14,21.04,2.55,11.0,0.49593,3
1,1,80586,44,42,HEM,12,9.25,3.50,29.0,7.99764,4
2,2,68912,33,43,HEM,13,36.47,10.25,3.0,0.00000,1
3,3,80917,23,14,HEM,7,16.41,2.84,8.0,12.74412,2
4,4,80639,16,10,HEM,4,3.50,0.00,10.0,0.35000,1

In [6]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 11 columns):
ID              3025 non-null int64
JobNum          3025 non-null object
SchedDays       3025 non-null int64
ActualDays      3025 non-null int64
Company         3025 non-null object
OpCount         3025 non-null int64
EstProdHours    3025 non-null float64
EstSetHours     3025 non-null float64
DaysOut         3025 non-null float64
EstUnitCost     3025 non-null float64
SubContract     3025 non-null int64
dtypes: float64(4), int64(5), object(2)
memory usage: 260.0+ KB

### Observations
Most of the fields are quantities, save for the Job number and the Company. Job numbers increment in value, so the highest number jobs are the most recent. Could

In [4]:
df.describe()

,ID,SchedDays,ActualDays,OpCount,EstProdHours,EstSetHours,DaysOut,EstUnitCost,SubContract
count,3025.000000,3025.000000,3025.000000,3025.000000,3025.000000,3025.000000,3025.000000,3025.000000,3025.000000
mean,2191.361653,24.857521,26.067438,6.720000,28.401881,2.383617,10.289580,4.712025,1.246612
std,1270.482221,34.296249,28.923592,4.139189,109.950878,3.112705,22.727979,19.706281,1.311582
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1080.000000,7.000000,4.000000,3.000000,3.250000,0.500000,0.000000,0.000000,0.000000
50%,2199.000000,17.000000,16.000000,6.000000,8.640000,2.000000,5.000000,0.000000,1.000000
75%,3278.000000,33.000000,39.000000,9.000000,22.100000,3.190000,13.000000,1.960000,2.000000
max,4412.000000,980.000000,292.000000,32.000000,3939.110000,102.000000,535.000000,594.676900,10.000000